
#calendar {
      width: 900px;
      margin: 0 auto;
    text-align: center;
    }
#chart_block2{
    display: none;
}
#chart_block{
    display: none;
}
.account_form{
    margin:0;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    
}
.options_form{
    margin:0;
    text-align: left;
    padding: 10px;
}
table, th, td {
    border: 2px solid black;
    border-collapse: collapse;
    padding: 15px;
}
th{
    background-color: #4080bf;
}
#table_form{
     display: none;
}
#table_form2{
     display: none;
}
    
}
.imgcontainer {
    text-align: center;
    background-color: #e6f9ff;
    border: solid 3px #e6e6e6;
    
}
img.user_picture {
    width: 30%;
    border-radius: 50%;
    text-align: center;
    padding: 20px;
}

#addbtn{
    display: block;
    background-color: #194d33;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    cursor: pointer;
    width: 100px;
    margin-top: 10px; 
    
    }
#addbtn:hover{
    background-color: #329a66;
}

.account{
    border: solid grey 2px;
    background-color: white;
    float: left;
    width: 40%;
    padding-top: 0;
    margin-left: 10px;
}

.options{
    border: solid grey 2px;
    background-color: white;
    padding-top: 0;
    float: right;
    width: 55%;
    margin-right: 10px;
}

.one_option{
    border: solid grey 2px;
    background-color: white;
    padding-top: 0;
    float: left;
    position: relative;
    margin-top: 30px;
    margin-left: 10px;
    width: 98.5%;
}

.panel{
    background-color: #666666;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 5px;
    font-weight: bold;
    color: white;
}
.panel2{
    background-color: #8c8c8c;
    margin-top: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 5px;
    font-weight: bold; 
}
.child_list{
   display: block;
    background-color: #4080bf;
    color: black;
    text-align: left;
    padding: 10px 16px;
    text-decoration: none;
}
.monitoring{
    border: solid 2px #e6e6e6;
    border-top:none;
    padding: 10px;
}
.chart_btn{
    display: inline-block;
    background-color: #004d99;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    cursor: pointer;
    width:32.75%; 
    
}
.chart_btn1{
    display: inline-block;
    background-color: #004d99;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    cursor: pointer;
    width:auto; 
    height: auto;
    font-size: 70%;
    
}
.chart_btn:hover,.chart_btn1:hover{
    background-color: #99bbff;
}
.add_data{
    display: block;
    background-color: #194d33;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    cursor: pointer;
    width:auto;
}

.add_data:hover{
    background-color: #329a66;
}

