body{
background-image: url("/../projekt/images/health-pattern.jpg");
   padding: 0;
   margin: 0;
    text-decoration: none;
    font-family: 'Oxygen', sans-serif;
}

 #calendar {
      width: 900px;
      margin: 0 auto;
        background-color: white;
        padding: 10px;
    }
       .calendar_form{
    box-shadow: 10px 10px 5px #888888;
    border-top: solid grey 8px;
    border-bottom: none;
    border-left: none;
    border-right: none;
    background-color: white; 
    padding-top: 0;
    margin-left: 30px;
    margin-right: 30px;
           
}

.floatleft {
    float:left;
}
.floatright {
    float:right;
}
.dropdown .dropbtn { 
  border: none;
  outline: none;
  color: black;
  padding: 14px 16px;
    padding-bottom: 9px;
  background-color: inherit;
    margin: 0;    
}

.dropdown {
    float:right;
    overflow: hidden;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    right: 0;
    left: auto;
}

.dropdown-content a {
    float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;

}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
    display: block;
}
.dropdown:hover .dropbtn {
    color: dimgray;
}
.nots_color{
            display: inline-block;
            background: #3333ff;
            height:20px;
            width: 20px;
            text-align: center;
            padding: 5px;
            border-radius:50%;
        }

.logout{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    border: none;
    text-decoration: none;
    background-color: #003399;
    float:right;
    font-family: 'Oxygen', sans-serif;
    cursor: pointer;
    height: 100%
    margin-top: 0;
    font-size: 16px;
    box-sizing: border-box;

}

.logout:hover{
        background-color: darkgrey;
}

ul {
    list-style-type: none;
    margin-top: 0;
    padding: 0;
    overflow: hidden;
    background-color: gainsboro;
}

li {
    float: left;
}

li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: 'Oxygen', sans-serif;
}

li a:hover {
    background-color: darkgray;
}
h2{
    background-color: rgba(255, 255, 255, 0.9);
    margin: 10px 40px 10px 40px;
    padding: 10px;
}

      .chat_form{
    box-shadow: 10px 10px 5px #888888;
    border-top: solid grey 8px;
    border-bottom: none;
    border-left: none;
    border-right: none;
    background-color: white; 
    padding-top: 0;
    margin-left: 30px;
    margin-right: 30px;
    padding: 10px;
           
}
img.chat_picture {
    width: 20%;
    text-align: center;
    padding: 20px;
}

.change_button{
    display: block;
    background-color: gray;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: 'Oxygen', sans-serif;
    cursor: pointer;
    width:auto;
}